* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::placeholder{
    font-style: italic;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    position: relative;
}

.addBookForm {
    width: 70%;
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
    /* position: absolute; */
}

.form {
    display: flex;
    gap: 20px;
    /* justify-content: space-evenly; */
}

.form-element{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.cupBoard {
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table {
  table-layout: fixed;
  width: 100%;        
}

th, td {
    text-align: left;
    padding: 5px 0px;
}

#addBtn {
    padding: 10px;
}

.footer {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background-color: brown;
    color: white;
    width: 100%;
    text-align: center;
}

